/* COMMON */
.container{
    max-width: 68.75rem;
    padding-left: 2rem;
    padding-right: 2rem;
    margin: auto;
}

.row{
    display: flex;
    flex-wrap: wrap;
    margin-right: -0.625rem;
    margin-left: -0.625rem;
}

section{
    padding: 1.875rem 0;
}

/* TYPHOGRAPHY */
.list-inline{
    list-style: none;
}

.list-inline a{
    text-decoration: none;
    color: white;
}

/* UTILITY */
.flex{
    display: flex;
}

.justify-space-between{
    justify-content: space-between;
}

.align-items-center{
    align-items: center;
}

/* BUTTONS */
.hamburger{
    border: none;
    background: none;
    color: white;
    font-size: 1.7rem;
}

/* DEBUG */

.debug{
    background-color: var(--first-color-light);
    width: 100%;
    height: 300px;
}