/* COMMON */
.container{
    max-width: 68.75rem;
    padding-left: 2rem;
    padding-right: 2rem;
    margin: auto;
}

.row{
    display: flex;
}

/* COMMON */
.justify-space-between{
    justify-content: space-between;
}

/* BUTTONS */
.btn{
    border: none;
    background: none;
    color: white;
    font-size: 1.7rem;
}