header{
    background-color: var(--first-color);
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    position: sticky;
    top: 0;
    font-size: 18px;
}

.main-nav{
    display: none;
}

.main-nav li:not(:last-child){
    padding-right: 1.25rem;
}