/* HIGHLIGHTS SECTION */
.col{
    width: 100%;
    margin: .625rem 0;
    padding: 0 .625rem;
}

.card{
    background-color: var(--first-color-light);
    width: 100%;
}

/* PLANNING SECTION */
#planning{
    background-color: var(--second-color);
}

