/* BACKGROUND */
section:nth-last-of-type(odd){
    background-color: var(--second-color);
}

/* HIGHLIGHTS SECTION */
#highlights .card{
    background-color: var(--first-color-light);
    border-radius: 1.25rem;
}

#highlights .card:first-of-type{
    padding-bottom: 0;
}

#highlights .card:first-of-type{
    flex-direction: column;
}

#highlights h2{
    color: var(--first-color);
}

#highlights img{
    padding-top: 1.25rem;
    max-width: 100%;
    height: auto;
}

h2{
    padding-bottom: 1.25rem;
}

/* PLANNING SECTION */
#planning img{
    max-width: 100%;
    height: auto;
    padding-bottom: 50px;
}

#planning .card{
    background-color: white;
    border-radius: 40px;
}

#planning .card p{
    padding: 30px 0;
}

/* BENEFITS SECTION */

/* GET STARTED SECTION */


