/* vw > 48rem */
@media  screen and (min-width: 48rem) {

    /* main-highligts */
    #highlights .col:first-child{
        width: calc((100% / 3) * 2);
    }

    #highlights .col{
        width: calc(100% / 3);
    }

    #highlights .card:first-of-type{
        flex-direction: column;
    }

    .highligts-btn{
        width: 50%;
    }

    #highlights img{
        width: 50%;
    }

    /* main-planning */
    
    /* main-benefits */
    #benefits .col{
        width: calc(100% / 2);
    }

    /* main-about us */

}

/* vw > 62rem */
@media screen and (min-width: 62rem){
    
    /* header */
    .hamburger{
        display: none;
    }
    .main-nav{
        display: block;
    }

    /* highlights */
    #highlights .card:first-of-type{
        flex-direction: row;
    }

    .highligts-btn{
        width: 100%;
    }

    #highlights img{
        width: 100%;
    }


    /* main-planning */
    #planning .col{
        width: 50%;
    }

    /* main-benefits */
    
    #benefits .col{
        width: calc(100% / 3);
    }
}


