




.main-nav{
    display: none;
}

/* vw > 30rem */
@media  screen and (min-width: 48rem) {

    /* main-highligts */
    #highlights .col:first-child{
        width: calc((100% / 3) * 2);
    }

    #highlights .col{
        width: calc(100% / 3);
    }
    
}

/* vw > 48rem */
@media screen and (min-width: 62rem){
    
    /* header */
    .hamburger{
        display: none;
    }
    .main-nav{
        display: block;
    }
}

