




.main-nav{
    display: none;
}

/* vw > 48rem */
@media  screen and (min-width: 48rem) {

    /* main-highligts */
    #highlights .col:first-child{
        width: calc((100% / 3) * 2);
    }

    #highlights .col{
        width: calc(100% / 3);
    }

    /* main-benefits */
    #benefits .col:first-child{
        width: 100%;
    }

    #benefits .col{
        width: calc(100% / 2);
    }
}

/* vw > 62rem */
@media screen and (min-width: 62rem){
    
    /* header */
    .hamburger{
        display: none;
    }
    .main-nav{
        display: block;
    }

    /* main-planning */
    #planning .col{
        width: 50%;
    }

    /* main-benefits */
    
    #benefits .col{
        width: calc(100% / 3);
    }
}

